#imageWork{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: center;
}
.center {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

.center1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align:center;
}